.Breath {
	font-family: StayHigh;
	height: 80vh;
	width: auto;
	// display: flex;
	// flex-flow: column wrap;
	// justify-content: center;
	// align-items: center;
}

.boxGroup {
	display: flex;
	justify-content: space-evenly;
}

.box1 {
	height: 20em;
	width: 20em;
	background-color: salmon;
	transform: translate(0, 0);

	&:hover {
		animation-name: boxBreath;
		animation-duration: 16s;
		animation-iteration-count: infinite;
	}
}

.box2 {
	height: 20em;
	width: 20em;
	background-color: lightblue;
	border: 2px solid gray;
	transform: translate(0, 0);

	// &:hover {
	// 	animation-name: inhale, hold, exhale;
	// 	animation-duration: 4s, 7s, 8s;
	// 	animation-delay: 0s, 4s, 11s;
	// }
}

.box3 {
	height: 20em;
	width: 20em;
	background-color: lightgreen;
	transform: translate(0, 0);
}

// .message {
//     background-color: orange;
//     height: 20em;
//     width: 40em;
// }

@keyframes inhale {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.2);
	}
}

@keyframes hold {
	from {
		transform: scale(1.2);
	}

	to {
		transform: scale(1.2);
	}
}

@keyframes exhale {
	from {
		transform: scale(1.2);
	}
	to {
		transform: scale(1);
	}
}

@keyframes boxBreath {
	25%{
		transform: scale(1.2);
	}
	50%{
		transform: scale(1.2);
	}
	75%{
		transform: scale(1);
	}
	100%{
		transform: scale(1);
	}
}
