.LandingPage {
	height: 90vh;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;

	/* Photo by Nandhu Kumar from Pexels */
	background: url('../assets/images/rocks-balance.jpg') center fixed no-repeat;
	background-size: cover;

}

.quote {
	// border: 2px solid black;
	// border-radius: 10px;
	// background-color: #7b884faa;
	max-height: auto;
	max-width: 50%;
    // padding: 1em;
    font-family: BetterTomorrow;  
    font-size: 3.5em;  
	font-weight: 550;
	color: white;
}