*{
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.LandingPage{
  height: 90vh;
  width: auto;

  /* Photo by Nandhu Kumar from Pexels */
  background-image: url('./assets/images/landingpage-background.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #FEFAE0;
}