*{
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

/* Landing Page styling */
.LandingPage{
  height: 90vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Photo by Nandhu Kumar from Pexels */
  background-image: url('./assets/images/landingpage-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FEFAE0;
}

.quote{
  border: 2px solid black;
  border-radius: 10px;
  background-color: #7b884faa;
  max-height: auto;
  max-width: 60%;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 3em;
}
/* End of Landing Page styling */

/* Meditate page styling */
.Meditate{
  height: 90vh;
  width: auto;
}

/* End of Meditate page styling */

.Timer{
  font-size: 30px;
}

button {
  border: none;
  margin: 5px;
  /* width: 40px; */
  /* height: 20px; */
  background-color: blue;
  cursor: pointer;
  font-size: 30px;
}